.idea
node_modules/
dist/
.datadir
.env
.DS_STORE
.next
.next/
client/out
.vscode/*
!.vscode/truckee-snippets.code-snippets
.eslintcache
.vercel
.vercel/**
client/.vercel/**
client/cypress/screenshots
client/cypress/videos
*.dump
